;;;

"title": "My Tests", 
"layout": "candidate",
"activeclass": "tests"
	
;;;


%section
	.container
		.row
			.col-lg-12
				.double-margin-bottom
					.page-header.half-margin-bottom
						%h3.no-margin-bottom
							Job Postings to Complete
					%p
						Listed below are the assessments assigned to you for completion
				
				.candidate-test-thumb-container.double-margin-bottom
					.row
						.col-sm-1
							%i.fa.fa-file-text.candidate-test-icon-default.large-icon
						.col-sm-8
							%h4.no-margin-bottom
								Graphic Designer
							%p.text-muted
								%small
									Assigned on Feb 19, 2014
							%p
								Lorem...
								%a{"data-toggle"=>"modal", :href=>"/candidate_backend/tests/start", "data-target"=>"#showTestModal"}
									More info
						.col-sm-3
							%a.btn.btn-success.btn-lg{"data-toggle"=>"modal", :href=>"/candidate_backend/tests/start", "data-target"=>"#showTestModal"}
								Get Started
					%hr

