%section.invert-section.progress-indacator.hidden-xs
	.padded
		-3.times do
			.col-sm-4
				.text-center.stage
					.label.label-success
						1
					%p.no-margin-bottom
						Select Candidates
		.clearfix