;;;

"layout": "modal_small"
  
;;;



.modal-dialog.modal-lg
	.modal-content
		.modal-header
			%button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
			%h1.modal-title 
				Find and Assign Tests
		.modal-body.no-padding
			=partial"tests/new/assign_tests_status_indacator"
			.padded
				=partial"/tests/new/select_tests_modal"
		.modal-footer.no-margin-top
			%button.btn.btn-gray{"data-dismiss" => "modal", type: "button"} Cancel
			%button.btn.btn-primary{"data-dismiss" => "modal", "data-toggle"=>"modal", :href=>"/tests/new/step_2", "data-target"=>"#newTestModalSelectCandidates"}
				Continue