;;;

"layout": "modal_small"
  
;;;



.modal-dialog
	.modal-content
		.modal-header
			%button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
			%h2.modal-title 
				Text Question
		.modal-body
			.panel.panel-default.panel-form
				.panel-heading
					%p.quarter-margin-bottom
						Content
					%p.text-muted
						%small
							Enter a question to ask your candidate
				.panel-body
					%form{role: "form"}
						%textarea.input-lg.form-control{:rows=>10}
		.modal-footer
			%a.cursor-pointer.half-margin-right{"data-dismiss" => "modal"} 
				Cancel
			%button.btn.btn-primary{"data-dismiss" => "modal", type: "button"} 
				Save Changes

