%section.no-padding-top
	%footer
		.container
			.row
				.col-sm-12
					.pull-left.padding-top.border-top.full-width
						%nav
							%ul.list-inline.pull-left.footer-nav
								%li
									© 2014 Wellhire All rights reserved.
								%li
									%a{:href=>"index.html"}
										Terms
								%li
									%a{:href=>"contact.html"}
										Contact & Support
								%li
									%a{:href=>"log_in.html"}
										FAQs