%section.no-padding-top
	%footer
		.container
			.row
				.col-sm-12
					.pull-left.padding-top.border-top.full-width
						%nav
							%ul.list-inline.pull-left.footer-nav
								%li
									© 2014 Wellhire All rights reserved.
								%li
									%a{"data-toggle"=>"modal", :href=>"/info/terms", "data-target"=>"#termsModal"}
										Terms
								%li
									%a{:href=>"contact.html"}
										Contact & Support
								%li
									%a{:href=>"log_in.html"}
										FAQs

#termsModal.modal.fade{"aria-hidden" => "true", role: "dialog"}


//modals
#newCandidateModal.modal{"aria-hidden" => "true", role: "dialog"}
#editCandidateModal.modal{"aria-hidden" => "true", role: "dialog"}
#markCandidateInactiveModal.modal{"aria-hidden" => "true", role: "dialog"}
	=partial "shared/confirm_modal", :locals=>{:text =>"Are you sure you want to mark candidate John Doe as inactive?"}