%html
    %head
        = partial "/layouts/newprod/main_scripts"
    %body{:class => page_classes}
        = partial "layouts/newprod/main_menu"
        /end menu
        = yield
        /end main content
        = partial "layouts/newprod/footer"
        /end footer