%section.section#how-it-works
	.container
		.row
			.col-lg-12
				%h1.text-center
					How it Works
		.row
			.col-lg-12
				.text-center.padded
					%img.full-width-image{:src=>"images/public/how_it_works.png"}
		.row
			.col-sm-4
				.padded
					%p.no-margin-bottom
						%span.extra-bold-font-name.enhanced-font
							Browse tests 
						that fit your job opening.  Choose from 100+ skill areas, add narrative questions, and assign to job candidates.
			.col-sm-4
				.padded
					%p.no-margin-bottom
						%span.extra-bold-font-name.enhanced-font
							Test Job Candidates
						from your job posting, via email, or anywhere by invitation.  Candidates simply click and test.
			.col-sm-4
				.padded
					%p.no-margin-bottom
						%span.extra-bold-font-name.enhanced-font
							Compare candidates
						to find the best fit for your position. Plus, review social background, view online profiles, and more!

