%section.primary-bg.invert-section.section#pricing
	.container
		.row.margin-bottom
			.col-sm-12
				.text-center.double-margin-bottom
					%h1
						Clear & Simple Pricing
					%h2
						Try Wellhire for 
						%span.bold-font-name
							2 days free! 
						With no risk
				.row
					.col-sm-2
					.col-sm-8
						.off-white-bg.double-padded.price-table.no-padding-bottom
							.text-center
								.double-margin-bottom
									%h5.double-margin-bottom
										Pay monthly. Cancel any time.
									%h1
										$9.99
									%h2.no-margin-bottom
										month
									%p
										%span.bold-font-name
											2 
										Completed tests per month
								.double-margin-bottom
									%h1
										$19.99
									%h2.no-margin-bottom
										for each additional test
								.double-margin-bottom
									%a.btn.btn-xl.btn-primary{:href=>"sign_up"}
										START FREE TRIAL
						.white-bg.double-padded.price-points
							.row.double-margin-top
								.col-lg-2
								.col-lg-8
									%p.no-margin-bottom
										%i.icon-check.green-text
										%span.text-uppercase.bold-font-name
											UNLIMITED
										Member Accounts.
									%p.no-margin-bottom
										%i.icon-check.green-text
										%span.text-uppercase.bold-font-name
											UNLIMITED
										Member Accounts.
									%p.no-margin-bottom
										%i.icon-check.green-text
										%span.text-uppercase.bold-font-name
											HALF THE PRICE 
										of other assessment services.
								.col-lg-2

					.col-sm-2
