%section.no-padding-top
	%footer
		.container
			.row
				.col-sm-12
					.pull-left.padding-top.border-top.full-width
						%nav
							%ul.list-inline.pull-left.footer-nav
								%li
									© 2014 Wellhire All rights reserved.
								%li
									%a{"data-toggle"=>"modal", :href=>"/info/terms", "data-target"=>"#termsModal"}
										Terms
								%li
									%a{:href=>"/contact"}
										Contact & Support
								%li
									%a{:href=>"/faqs"}
										FAQs
								%li
									%a{:href=>"/account/"}
										My Account
								%li
									%a{:href=>"http://wellhire.wordpress.com "}
										Blog



//modals

//modules
#editTextModuleModal.modal.fade{"aria-hidden" => "true", role: "dialog"}
