;;;

"title": "New Job Listing",
"activeclass": "job-listings"
	
;;;



:javascript
	$(document).ready(function(){

		$('.show-moduel').click(function() {
			$('.appear').removeClass('hidden');
			return false; 
		});

		$('.remove').click(function() {
			$(this).closest( '.well' ).addClass('hidden');
			return false; 
		});




	});



%section
	.container
		.row
			.col-lg-12
				.page-header
					%h3.no-margin-bottom
						Create a New Job Listing
		.row
			.col-md-9
				.row
					.col-sm-6
				%form.double-margin-bottom{role: "form"}
					.form-group
						%input.input-lg.form-control.quarter-margin-bottom{placeholder:"Job Title ex: Graphic Designer"}
						%p.half-padding-left
							%strong
								Link:
							http://link to this job posting.com
				.row
					.col-sm-6
						.panel.panel-default.panel-form
							.panel-heading
								%h5.no-margin-bottom
									Description
							.panel-body
								%form{role: "form"}
									%textarea.input-lg.form-control{:rows=>6}
					.col-sm-6
						.panel.panel-default
							.panel-heading
								%h5.no-margin-bottom
									Video
							.panel-body
								%p
									Add a video 
								.well.well-dashed
									.text-center
										%i.fa.fa-video-camera
								%a{"data-toggle"=>"modal", :href=>"/video/new", "data-target"=>"#videoModal"}
									Record new video
				.panel.panel-default
					.panel-heading
						%h5.no-margin-bottom
							Add Job Posting Modules
							%span.regular-font-name
								&nbsp;
								Click to add
					.panel-body
						%form{role: "form"}
							.form-group
								.row
									.col-sm-2
										%a.thumbnail.no-underline-link.show-moduel{:href=>"#",:onclick=>"return false;", :title=>"Create a text question for your candidate to answer", :rel=>'tooltip'}
											.text-center.padded
												%h1
													%i.fa.fa-file-text-o
												%p.no-margin-bottom
													%small
														Text Question
									.col-sm-2
										%a.thumbnail.no-underline-link{:href=>"#",:onclick=>"return false;", :title=>"Allow your candidate to upload a video response to a question", :rel=>'tooltip'}
											.text-center.padded
												%h1
													%i.fa.fa-video-camera
												%p.no-margin-bottom
													%small
														Video Question
									.col-sm-2
										%a.thumbnail.no-underline-link{:href=>"#",:onclick=>"return false;", :title=>"Insert a test for your candidate to complete", :rel=>'tooltip'}
											.text-center.padded
												%h1
													%i.fa.fa-check
												%p.no-margin-bottom
													%small
														Skill
														%br
														Test
									.col-sm-2
										%a.thumbnail.no-underline-link{:href=>"#",:onclick=>"return false;", :title=>"Select a list of skills to match with your candidate", :rel=>'tooltip'}
											.text-center.padded
												%h1
													%i.fa.fa-file-text-o
												%p.no-margin-bottom
													%small
														Skill Match
									.col-sm-2
										%a.thumbnail.no-underline-link{:href=>"#", :onclick=>"return false;", :title=>"Create a list of keywords to match with your candidate", :rel=>'tooltip'}
											.text-center.padded
												%h1
													%i.fa.fa-bars
												%p.no-margin-bottom
													%small
														Keyword Match
									.col-sm-2
										%a.thumbnail.no-underline-link{:href=>"#", :title=>"...", :rel=>'tooltip'}
											.text-center.padded
												%h1
													%i.fa.fa-plus
												%p.no-margin-bottom
													%small
														Integrate with Resumator
						.panel.panel-default
							.panel-body
								.well.well-dashed.appear.hidden
									.half-margin-top
									.pull-right
										%div{:href=>"#", :style=>"position:relative; bottom:5px;"}
											%a.no-underline-link.half-margin-right{"data-toggle"=>"modal", :href=>"/job-listings/modules/question/edit", "data-target"=>"#editTextModuleModal"} 	
												%i.fa.fa-edit
											%a.no-underline-link.remove{:href=>"#",:onclick=>"return false;"}
												%i.fa.fa-times
									%p
										%i.fa.fa-file-text-o.margin-right
										Click 
										%a{"data-toggle"=>"modal", :href=>"/job-listings/modules/question/edit", "data-target"=>"#editTextModuleModal"} 
											edit 
										to enter your question
								.well.well-dashed.no-margin-bottom
									.half-margin-top
									.pull-right
										%div{:href=>"#", :style=>"position:relative; bottom:5px;"}
											%a.no-underline-link.half-margin-right{"data-toggle"=>"modal", :href=>"/job-listings/modules/question/edit", "data-target"=>"#editTextModuleModal"} 	
												%i.fa.fa-edit
											%a.no-underline-link.remove{:href=>"#",:onclick=>"return false;"}
												%i.fa.fa-times
									%p
										%i.fa.fa-file-text-o.margin-right
										%span.bold-font-name
											What is the most difficult task you have ever accomplished?
								
			.col-md-3
				.panel.panel-default
					.panel-heading
						%h5.no-margin-bottom
							Publish
					.panel-body
						%p.no-margin-bottom
							%a.btn.btn-default.margin-right{:href=>"/job-listings"}
								Save
							%a.text-danger{:href=>"/job-listings"}
								Cancel

