:javascript
	$(document).ready(function() {


		var whDatatable = $('#table').dataTable().yadcf([{
			column_number : 0,
			select_type: 'chosen', 
			column_data_type: "html", 
			html_data_type: "text",
			filter_default_label:"Select a Name", 
			filter_container_id: "name_filter_container"
		}, {
			column_number : 1, 
			select_type: 'chosen', 
			filter_container_id: "type_filter_container"
		}, {
			column_number : 2, 
			select_type: 'chosen', 
			filter_container_id: "job_role_filter_container"
		}, {
			column_number : 5, 
			filter_type: "date",date_format: "D M dd, yy", 
			filter_container_id: "date_filter_container"
		}]);

	} );


.margin-bottom.clearfix
	.wh-table-filter-wrapper.pull-left
		%button#filter-popover.filter-toggle.wh-table-filter-button.btn.btn-info{:rel=>"popover"}
			Filter
			%span.caret

		.bottom.popover.hidden.wh-filter-inner.full-width{:style=>"display:block; top:50px;"}
			.arrow{:style=>"left:13%;"}
			.padded
				.wh-filter-form-wrapper
					%form#wh-filter-form
						.form-group
							%label
								Name:
							#name_filter_container
						.form-group
							%label
								Type:
							#type_filter_container.full-width
						.form-group
							%label
								Job Role:
							#job_role_filter_container
						.form-group
							%label
								Date Created:
							#date_filter_container
				%hr
				.clearfix
					.pull-left
						%button.btn.btn-info#clear-filter
							Reset
					.pull-right
						%button.btn.btn-primary.filter-toggle{:onclick=>"return:false;"}
							Close

	.wh-table-search-wrapper.pull-right
		%input#filter.form-control.table-search{:placeholder=>"Search"}

.wh-table-wrapper
	%table#table.display.table.table-hover.margin-top.border-bottom{"data-filter"=>"#filter", border: "0", cellpadding: "0", cellspacing: "0", width: "100%"}
		%thead
			%tr
				%th
					Name
				%th
					Type
				%th{"data-hide"=>"phone"}
					Job Role
				%th
					Status
				%th{"data-hide"=>"phone"}
					Tests
				%th{"data-hide"=>"phone"}
					Date Created
				%th{"data-hide"=>"phone"}
					Action
		%tbody
			- 200.times do
				%tr
					%td.half-padding-top.half-padding-bottom
						=image_tag "/images/no_avatar_sm.png", :class=>"half-margin-right avatar-sm img-circle"
						%a{:href=>"#"}
							= lorem.name
						%a.half-margin-left.no-underline-link{:href=>"mailto:john@doe.com;"}
							%i.fa.fa-envelope-o
					%td.half-padding-top.half-padding-bottom 
						Prehire
					%td.half-padding-top.half-padding-bottom 
						Designer
					%td.half-padding-top.half-padding-bottom 
						Active
					%td.half-padding-top.half-padding-bottom 
						4
					%td.half-padding-top.half-padding-bottom
						Wed Feb 26, 2014
					%td.half-padding-top.half-padding-bottom
						.btn-group
							%button.btn.btn-xs.btn-info{type: "button"} 
								View
							%button.btn.dropdown-toggle.btn-xs.btn-info{"data-toggle" => "dropdown", type: "button"}
								%span.caret
								%span.sr-only Toggle Dropdown
							%ul.dropdown-menu.dropdown-menu-right{role: "menu"}
								%li
									%a{href: "/"} 
										Completed Tests
								%li
									%a{href: "#"} 
										Quick Edit
			%tfoot.hidden
				%tr
					%th
						Name
					%th
						Type
					%th
						Job Role
					%th
						Status
					%th
						Tests
					%th
						Date Created
					%th
						Action
	%ul.pagination.pull-right