;;;

"title": "My Candidates", 
"subnav_data": "candidate_subnav",
"description": "Review and edit candidates for your available Job Roles. Job Roles represent specific employment positions, add a job role for each open position you have.",
"link_title": "+ New Candidate"
	
;;;


%section
	.container
		.row
			.col-lg-12
				=partial "shared/subnav_with_links"