;;;

"title": "My Tests", 
"subnav_data": "tests_subnav",
"description": "Job Roles represent specific employment positions you would like to fill, and are assigned to Candidates.",
"link_title": "+ Assign Tests"
	
;;;


%section
	.container
		.row
			.col-lg-12
				=partial "shared/subnav_with_links"