

.wh-table-search-wrapper.pull-right
	%input#filter.form-control.wh-table-search{:placeholder=>"Search"}
.clearfix
.wh-table-wrapper
	%table#table.display.table.table-hover.margin-top.border-bottom
		%thead
			%tr
				%th
					Title
				%th{"data-hide"=>"phone"}
					Status
				%th{"data-hide"=>"phone"}
					Candidates
				%th{"data-hide"=>"phone"}
					Date Created
				%th{"data-hide"=>"phone"}
					Actions
		%tbody
			%tr
				%td
					%a{href: "/newprod/job-listings/show"} 
						Graphic Designer
				%td.text-success
					Active
				%td
					%a{:href=>"/newprod/job-listings/show"}
						4
				%td
					Wed Feb 26, 2014
				%td
					.btn-group
						%a.btn.btn-xs.btn-info{:href=>"/candidates/show"} 
							View 
						%button.btn.dropdown-toggle.btn-xs.btn-info{"data-toggle" => "dropdown", type: "button"}
							%span.caret
							&nbsp;
						%ul.dropdown-menu.dropdown-menu-right{role: "menu"}
							%li
								%a{href: "/newprod/job-listings/new"} 
									Edit
							%li
								%a{href: "/newprod/job-listings/show"} 
									Delete
