:javascript
	$(document).ready(function() {

		$.datepicker.regional[""].dateFormat = 'D M dd, yy';
		$.datepicker.setDefaults($.datepicker.regional['']);

		$.extend( $.fn.dataTable.defaults, {
			"bLengthChange": false
		} );


		var oDataTable = $('#table').dataTable().yadcf([
				{column_number : 0, column_data_type: "html", html_data_type: "text", filter_container_id: "name_filter_container"},
				{column_number : 5, filter_type: "date", filter_container_id: "date_filter_container"}
			]
		);



		$('.filter-toggle').click(function() {
			$('#filter-inner').toggleClass('hidden');
		});



		$("#clear-filter").click(function(e) {
			
		});


	} );



#filter-wrapper
	%button#filter-popover.filter-toggle.btn.btn-info{:rel=>"popover"}
		Filter
		%span.caret
	//filter hmtl
	.bottom.popover#filter-inner{:style=>"display:block; top:50px; min-width:400px;"}
		.arrow{:style=>"left:13%;"}
		.padded
			#name_filter_container
			#date_filter_container





%div
	.table-responsive
		%table#table.display.table.table-striped.table-hover.margin-top.border-bottom{border: "0", cellpadding: "0", cellspacing: "0", width: "100%"}
			%thead
				%tr
					%th
						Name
					%th
						Type
					%th
						Job Role
					%th
						Status
					%th
						Tests
					%th.hidden-sm.hidden-xs
						Date Created
					%th
						Action
			%tbody
				- 20.times do
					%tr
						%td.half-padding-top.half-padding-bottom
							%a{:href=>"google.com"}
								= lorem.name
							%a.half-margin-left.no-underline-link{:href=>"mailto:john@doe.com;"}
								%i.fa.fa-envelope-o
						%td.half-padding-top.half-padding-bottom 
							Prehire
						%td.half-padding-top.half-padding-bottom 
							Designer
						%td.half-padding-top.half-padding-bottom 
							Active
						%td.half-padding-top.half-padding-bottom 
							4
						%td.half-padding-top.half-padding-bottom.hidden-sm.hidden-xs
							= lorem.date
						%td.half-padding-top.half-padding-bottom
							.btn-group
								%button.btn.btn-xs.btn-info{type: "button"} 
									View
								%button.btn.dropdown-toggle.btn-xs.btn-info{"data-toggle" => "dropdown", type: "button"}
									%span.caret
									%span.sr-only Toggle Dropdown
								%ul.dropdown-menu.dropdown-menu-right{role: "menu"}
									%li
										%a{href: "#"} Delete
									%li
										%a{href: "#"} Mark as Inactive
				%tfoot.hidden
					%tr
						%th
							Name
						%th
							Type
						%th
							Job Role
						%th
							Status
						%th
							Tests
						%th.hidden-sm.hidden-xs
							Date Created
						%th
							Action

						
							/ =image_tag "/images/no_avatar_sm.png", :class=>"half-margin-right avatar-sm img-circle"