:javascript
	$(document).ready(function() {

		$.datepicker.regional[""].dateFormat = 'D M dd, yy';
		$.datepicker.setDefaults($.datepicker.regional['']);

		$.extend( $.fn.dataTable.defaults, {
			"bLengthChange": false
		} );


		var oDataTable = $('#table').dataTable().columnFilter({
			aoColumns:[
				{ sSelector: "#nameFilter", type:"type"  },
				{ sSelector: "#typeFilter", type:"select" },
				{ sSelector: "#jobRoleFilter", type:"select" },
				{ sSelector: "#statusFilter", type:"select" },
				null,
				{ sSelector: "#dateFilter", type:"date-range" },
				null
			]
		});


		$('.filter-toggle').click(function() {
			$('#filter-inner').toggleClass('hidden');
		});



		$("#clear-filter").click(function(e) {
			
		});


	} );



#filter-wrapper
	%button#filter-popover.filter-toggle.btn.btn-info{:rel=>"popover"}
		Filter
		%span.caret
	//filter hmtl
	.bottom.popover.hidden#filter-inner{:style=>"display:block; top:50px; min-width:400px;"}
		.arrow{:style=>"left:13%;"}
		.padded
			%form#form
				%label
					Candidate:
				%p#nameFilter
				%label
					Type:
				%p#typeFilter
				%label
					Job Role:
				%p#jobRoleFilter
				%label
					Status:
				%p#statusFilter
				%label
					Date:
				%p#dateFilter
				%hr
			%button#clear-filter.btn.btn-default
				Reset
			%button.btn.btn-primary.filter-toggle
				Apply





%div
	.table-responsive
		%table#table.display.table.table-striped.table-hover.margin-top.border-bottom{border: "0", cellpadding: "0", cellspacing: "0", width: "100%"}
			%thead
				%tr
					%th
						Name
					%th
						Type
					%th
						Job Role
					%th
						Status
					%th
						Tests
					%th.hidden-sm.hidden-xs
						Date Created
					%th
						Action
			%tbody
				- 20.times do
					%tr
						%td.half-padding-top.half-padding-bottom
							=image_tag "/images/no_avatar_sm.png", :class=>"half-margin-right avatar-sm img-circle"
							%a{:href=>"#"}
								%strong
									=lorem.name
							%a.half-margin-left.no-underline-link{:href=>"mailto:john@doe.com;"}
								%i.fa.fa-envelope-o
						%td.half-padding-top.half-padding-bottom 
							Prehire
						%td.half-padding-top.half-padding-bottom 
							Designer
						%td.half-padding-top.half-padding-bottom 
							Active
						%td.half-padding-top.half-padding-bottom 
							4
						%td.half-padding-top.half-padding-bottom.hidden-sm.hidden-xs
							= lorem.date
						%td.half-padding-top.half-padding-bottom
							.btn-group
								%button.btn.btn-xs.btn-info{type: "button"} 
									View
								%button.btn.dropdown-toggle.btn-xs.btn-info{"data-toggle" => "dropdown", type: "button"}
									%span.caret
									%span.sr-only Toggle Dropdown
								%ul.dropdown-menu.dropdown-menu-right{role: "menu"}
									%li
										%a{href: "#"} Delete
									%li
										%a{href: "#"} Mark as Inactive
				%tfoot.hidden
					%tr
						%th
							Name
						%th
							Type
						%th
							Job Role
						%th
							Status
						%th
							Tests
						%th.hidden-sm.hidden-xs
							Date Created
						%th
							Action

						
