.margin-bottom.clearfix
	.page-header
		%h2.no-margin-bottom
			%span.step
				1.
			Select the Job Role you'd like to test for.
			%small
				%a{"data-toggle"=>"modal", :href=>"/job-roles/new", "data-target"=>"#newJobRoleModal"}
					+ New Job Role
	.form-group
		%label.col-sm-2.control-label.text-right.quarter-margin-top
			job Role:
		.col-sm-4
			%select.form-control.half-margin-bottom
				%option
					Designer
				%option
					Other Option
		.col-sm-6
.margin-bottom.clearfix
	.page-header
		%h2.no-margin-bottom
			%span.step
				2.
			Select the Test you'd like candidates to take.
.margin-bottom
	=partial"/job-links/job_link_test_select_table"