.clearfix.margin-bottom
	.page-header
		%h3.no-margin-bottom
			1. Select the Job Role you'd like to test for.
	.form-group
		%label.col-sm-2.control-label.text-right
			job Role:
		.col-sm-4
			%select.form-control.half-margin-bottom
				%option
					Designer
				%option
					Other Option
			%a{"data-toggle"=>"modal", :href=>"/job-roles/new", "data-target"=>"#newJobRoleModal"}
				+ New Job Role

.clearfix
.page-header
	%h3.no-margin-bottom
		2. Select the Test you'd like candidates to take.

=partial"/job-links/job_link_test_select_table"