;;;

"title": "Job Posting Links", 
"subnav_data": "tests_subnav",
"description": "Review and edit candidates for your available Job Roles. Job Roles represent specific employment positions, add a job role for each open position you have.",
"link_title": "+ New Job Link",
"iconclass": "fa-link",
"activeclass": "tests"
	
;;;


%section
	.container
		.row.margin-bottom
			.col-lg-12
				.alert.alert-success
					%button{:type=>"button", :class=>"close", "data-dismiss"=>"alert", "aria-hidden"=>"true"}
						&times;
					New Job Link Created
					%a{"data-toggle"=>"modal", :href=>"/job-links/show", "data-target"=>"#showJobLinkModal"} 
						View Link
				=partial "/shared/subnav_with_links"
				%a.btn.btn-primary.btn-lg{"data-toggle"=>"modal", :href=>"/job-links/new", "data-target"=>"#newJobLinkModal"}
					%i.fa.fa-plus-circle
					Create Job Link
		.row
			.col-lg-12
				=partial "/job-links/job_links_table"