;;;

"layout": "modal_small"
  
;;;



.modal-dialog
	.modal-content
		%nav.navbar-fixed-top.modal-header.navbar
			.container
				%button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
				%h4.modal-title 
					Create a New Job Test Link
		.modal-body
			.padding-top
				.container
					=partial"/job-links/job_links_flow"
		%nav.navbar-fixed-bottom.modal-footer.navbar
			%button.btn.btn-gray{"data-dismiss" => "modal", type: "button"} Cancel
			%button.btn.btn-primary{"data-dismiss" => "modal", type: "button"} Create Link