;;;

"title": "Test: Business Essentials", 
"layout": "candidate",
"activeclass": "tests"
	
;;;


%section
	.container
		.row
			.col-lg-12
				.page-header
					%h1.no-margin-bottom.pull-left
						Test In Progress
					.clearfix
				.test-question-container.margin-top
					.margin-bottom
						%p
							Freeform Questions
					.test-freeform.margin-bottom
						.row
							.col-sm-6
								%form.margin-bottom
									.form-group
										%h4
											1. What's Your Favorite...
										%textarea.form-control{:rows=>"5"}
								%form.margin-bottom
									.form-group
										%h4
											2. What's Your Favorite...
										%textarea.form-control{:rows=>"5"}
							.col-sm-6
				%hr
				.test-footer
					.row
						.col-sm-4
						.col-sm-8
							%p.pull-right
								%a.btn.btn-lg.btn-success.margin-bottom{:href=>"/candidate_backend/tests/feedback"}
									Submit Responses & Give Feedback
									%i.fa.fa-long-arrow-right

				

