;;;

"layout": "modal_small"
  
;;;



.modal-dialog.modal-lg
	.modal-content
		.modal-header
			%button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
			.alert.alert-info.margin-top
				%i.fa.fa-clock-o.alert-icon
				%strong
					Heads Up! 
				During the test, you will be provided with a live timer indicating how much time is remaining.
			%h1.modal-title 
				Business Communication II
		.modal-body
			%p.lead
				Business Communication measures knowledge of communicating in the workplace. It measures the skills necessary to communicate effectively with clients and coworkers at all levels.  Subject areas covered in this assessment include:
			%ul
				%li
					Basic Electronic Communication (E-mail, Fax, Teleconferencing, Voice Mail)
				%li
					Listening (Active Listening, Barriers, Benefits, Questions)
				%li
					Nonverbal (Communication, Body Language, Expression, Gestures, Professional Appearance, Time/Space)
				%li
					Verbal Communication (Feedback, Instructions, Telephone)
				%li
					Written Communication (Letters, Memos, Reports)
